*{
    margin: 0 auto;
}
@font-face{
    font-family: "Dancing Script";
    src: url("../fuentes/DancingScript-Regular.ttf") format("truetype"),
         url("../fuentes/DancingScript-Bold.ttf") format("truetype");
}
body{
    background:  black;
}
#contenido{
    width: 900px;
    background: black;
    font-family: "Dancing Script", Tahoma;
}
header{
    display: flex;
    flex-direction: row;
    color: white;
    background: #5b7989;
    border-radius: 10px 10px  0px 0px;
    -webkit-border-radius: 10px 10px  0px 0px;
    -moz-border-radius: 10px 10px  0px 0px;
    padding: 1%;
    animation-name: slidein;
    animation-duration: 1s;
}
#lado_izq{
    width: 77%;
    padding: 1% 0 1% 0;
}
#lado_der{
    width: 23%;
    padding: 2% 0 2% 0;
}
#titulo{
    text-shadow: 2px 2px 2px black;
    -webkit-text-shadow: 2px 2px 2px black;
    -moz-text-shadow: 2px 2px 2px black;
}
ul{
    padding: 0% 1 0% 0;
}
ul li{
    display: inline;
    float:left;
    padding: 0 5px;
}
ul>li>a{
    text-decoration: underline;
    color: white;
}
#inicio{
    text-decoration: none;
}
#paisajes{
    text-decoration: none;
}
#retratos{
    text-decoration: none;
}

#imagenes{
    display: block;
}
#img_dos{
    display: flex;
    flex-direction:row;
    background: #d5c75f;
    padding: 2%;
	text-align: center;
    padding-bottom: 1%;
}
#img_dos p{
    font-size: 1.2em;
    padding: 1% 0 2% 0;
}
#img_dos div p a{
    color: black;
    font-weight: bold;
}
img{
    border: 1px solid;
    box-shadow: 2px 2px 2px #02010a;
    -webkit-box-shadow: 2px 2px 2px #02010a;
    -moz-box-shadow: 2px 2px 2px #02010a;
}
#img1{
    padding: 2%;
    background: #82c3a6;
    text-align: center;
    width: 96%;
}
#img2 img:hover{
    box-shadow: 2px 2px 2px #82c3a6;
    -webkit-box-shadow: 2px 2px 2px #82c3a6;
    -moz-box-shadow: 2px 2px 2px #82c3a6;
    border: 2px solid;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}
#img3 img:hover{
    box-shadow: 2px 2px 2px #82c3a6;
    -webkit-box-shadow: 2px 2px 2px #82c3a6;
    -moz-box-shadow: 2px 2px 2px #82c3a6;
    border: 2px solid;
    transform: translate(20px,-5px);
    -webkit-transform: translate(20px,-5px);
    -moz-transform: translate(20px,-5px);
}
#img2, #img3{
    background: #d5c75f;
    width: 45%;
}
footer{
    display: flex;
    flex-direction: column;
    background: #C6d5c5;
    border-radius: 0px 0px  10px 10px;
    -webkit-border-radius: 0px 0px  10px 10px;
    -moz-border-radius: 0px 0px  10px 10px;
    padding: 1%;
}
#columnas{
    display: flex;
    flex-direction: row;
}
#columnas div{
    width: 25%;
    padding: 1%;
}
#col2 p{
    text-align: justify;
}
#col3 p>img{
    vertical-align: middle;
    margin-right: 3%;
    margin-bottom: 2%;
    text-decoration: none;
    box-shadow: none;
    border: 0;
}
#col3 p>a{
    text-decoration: none;
    color: blue;
}
#colpaisajes{
    text-align: center;
    width: 100%;
    background: #d5c75f;
    padding: 0;
}
#colpaisajes div{
    text-align: center;
    display: inline-block;
    width: 29%;
    padding: 2%;
}
#pimg1 img{
    -webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    filter:blur(10px);
}
#pimg2, #pimg4, #pimg6 img{
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    filter:grayscale(100%);
}
#pimg3 img{
    -webkit-filter:sepia(90%);
    -moz-filter:sepia(90%);
    filter:sepia(90%);
}
@media (max-width:899px){
    #contenido{
        width: 100%;
    }
    #lado_izq, #lado_der{
        width: 96%;
    }
    header{
        flex-direction: column;
        text-align: center;
    }
    h1{
        font-size: 1.5em;
    }
    ul{
        padding: 0;
    }
    ul li{
        display: inline-block;
        float: none;
    }
    #img_dos, #columnas{
        flex-direction:column;
    }
    #img1, #img2, #img3, #img1 img{
        width: 96%;
    }
    #columnas div{
        width: 95%;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }
    #colpaisajes div{
        display: block;
        width: 94%;
        text-align: center;
        padding: 2px 0px 2px 0px;
    }
}
@media (min-width:900px){
    h1{
        font-size: 2em;
    }
    #img1 img{
        width: 90%;
    }
}
@keyframes slidein{
    0%{
        margin-top: 150%;
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }
}